@font-face {
  font-family: SF-Pro-Display-Bold;
  src: url(./font/SF-Pro-Display-Bold.ttf);
}

@font-face {
  font-family: SF-Pro-Display-Regular;
  src: url(./font/SF-Pro-Display-Regular.ttf);
}

body{
font-family: SF-Pro-Display-Regular !important;
}
 .btn-primary {
border-color: transparent !important;
font-weight: 200 !important;
 }

 .btn-primary:hover{
border-color: transparent !important;
  
 }

.App-logo {
  /*animation: App-logo-spin infinite 20s linear;*/
  height: 100%;
  width: 100%;
  /*pointer-events: none;*/
  /*float:left;*/
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo_style  {
  width: 80px;
  height: 80px;
  /*margin: auto*/
}

.col-end{
  align-items: flex-end;
  display: inline-flex
}

.bor-none{
  border: none !important;
}
.bor-rad borderwdth{

}
.bor-rad {
  border-radius: 50px !important;
  width:auto !important;
  height:3vh !important;
  font-size: 14px !important;
  color:#fe9101 !important;
  margin-bottom:  8px;
  margin-top: -2px;
  text-align: center;
}
.container1{
  flex: 1;
  background-color:  '#ecf0f1',
}
.mid-drop{
  padding-left:10px !important;
  padding-right:10px !important;
}

.head-text{
  margin-right:10px !important;
  color:white !important;
  font-size: 18px;
  padding-top:2px !important;
}

.sec-div{
  justify-content: center !important;
  background: #fe9101 !important;
height: 70px !important;
  width: 100% !important;
  display: flex !important;
  align-items: center !important;
}

.fis-div{
  flex:1 !important;
  background: white !important;
  /*height:100px !important;*/
  height: 80px !important;
}

.fis-row{
  height: 100% !important;
  width:50%;
  /*padding-bottom: 10px !important;*/
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div_3{
  flex:1 !important;
  background: #1f459e !important;
  height:100px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.div_sub_3{
  flex:1 !important;
  background: #fe9101 !important;
  height:10px !important;
}

.div_row_3{
  height:100% !important;
  width:80% !important;
}

.col_size_3{
  height:100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.col_div_3{
  width:50% !important;
  height:60% !important;
  border:1px solid white !important;
  border-radius:50px !important;
  justify-content: center !important;
}

.col_radius_3{
  color:#fe9101 !important;
  font-size: 27px !important;
  margin-bottom: -8px !important;
}

.col_text_3{
  color:white !important;
  font-size: 12px !important;
}
.carousel-control.left:hover, .carousel-control-prev:hover{
  background: transparent !important;
}
.carousel-indicators {
  position: absolute !important;
  bottom: 10px!important;
  /*left: 50%!important;*/
  z-index: 15!important;
  /*width: 50%!important;*/
  padding-left: 3!important;
  /*margin-left: -30%!important;*/
  /*text-align: center!important;*/
  list-style: none!important;
  justify-content: flex-start !important;
}
.carousel-indicators li {
  display: inline-block !important;
  width: 8px!important;
  height:8px!important;
  margin: 3px!important;
  text-indent: -999px!important;
  cursor: pointer!important;
  background-color: #000 \9!important;
  background-color: #eee !important;
  border: 1px solid #fff!important;
  border-radius: 10px!important;
}
.carousel-caption{
  display: flex;
  align-items: center;
  justify-content: center;
}
.section1{
  /*border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background-color:  #ff9102;
  /*width:20%;*/
  /*color:#fff;
  padding: 10px;
  font-size: 15px;
  width: 20%;
  height: 100%;*/
  border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background-color: #ff9102;
    /* width: 20%; */
    color: #fff;
    padding: 10px;
    font-size: 17px;
    width: 20%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.section2{
  font-size: 15px;
    color: #ccc0c0 !important;
    background-color: white;
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 12px;
}
.ant-dropdown-link .ant-dropdown-trigger{
  color:#ccc0c0 !important;
  text-decoration: none !important;
}
.anticon.anticon-down{
  font-size: 15px !important;
  margin-left: 5px;
}
.section3{
  font-size: 15px;
    color: #ccc0c0 !important;
    background-color: white;
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 12px;

}
.section4{
  font-size: 15px;
    color: #ccc0c0 !important;
    background-color: white;
    width: 20%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-left: 12px;

}
.section5{
  background-color: white;

}
.plusstyle{
 width:8%;
 background-color: #1f459e;
 padding: 8px;
 border-top-left-radius: 30px;
 border-top-right-radius: 30px;
 border-bottom-left-radius: 30px;
 border-bottom-right-radius: 30px;
 border:3px solid #fff;
}
.ant-tabs .ant-tabs-left-bar .ant-tabs-tab, .ant-tabs .ant-tabs-right-bar .ant-tabs-tab{
  margin: 0 0 0px 0 !important;
  background: #1f459e;
  border-bottom: 2px solid #fff;
  text-align: center !important;
  padding: 8px 0px !important;
}
.ant-tabs-tab-active .ant-tabs-tab{
  width:50% !important;
}

.ant-tabs-nav .ant-tabs-tab:hover {
  /* color: #40a9ff; */
  background: orange !important;
  color: #fff !important;
}
.ant-tabs-nav .ant-tabs-tab:active {
  background: orange !important;
  color: #fff !important;
}
.ant-tabs-nav .ant-tabs-tab-active{
  background-color: orange !important;
  color:#fff !important;
}
.ant-tabs-tab{
  color:#fff;
  width:60px;
  height:60px;
}
.ant-tabs-content .ant-tabs-content-animated .ant-tabs-left-content{
  text-align: left !important;
}
.anticon{
  line-height: none !important;
  font-size: 22px !important;
}
.tip {
  width: 0px;
  height: 0px;
  position: absolute;
  background: transparent;
  border: 10px solid #ccc;
}

.tip-up {
  top: -25px; /* Same as body margin top + border */
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
}

.tip-down {
  bottom: -25px;
  left: 10px;
  border-right-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-left {
  top: 10px;
  left: -25px;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;  
}

.tip-right {
  top: 10px;
  right: -25px;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;  
}

.body {
  position: relative;
  max-width: 300px;
  height: auto;
  
}
.ulclass{
  list-style-type:none;
  padding: 0px !important;
}
.liclass{
  width: 60px;
  height: 47px;
  background: #1f459e;
  border-bottom: 2px solid #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color:#fff;
  position:relative;
}
.liclass a i{
  color: #fff;
}

.liclass:hover{
 background:#FF9800;
 color:#fff; 
}

.liclass:hover:after {
  position: absolute;
  /* left: -71px; */
  right: -10px;
  font-size: 45px;
  content: '';
  /* width: 18px; */
  /* height: 18px; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #FF9800;
}

.actives:after{
  position: absolute;
  /* left: -71px; */
  right: -10px;
  font-size: 45px;
  content: '';
  /* width: 18px; */
  /* height: 18px; */
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #FF9800;
}
.actives{
 background:#FF9800;
 color:#fff; 
}
.borderstyle{
  border: 1px solid #eee;
  width: 100%;
  /* height: 100%; */
  height: 46px;
  border-left: 0;
}
.borderheader{
  padding: 10px;
  padding-left: 25px;
  margin:0 !important;
  color:#5c77b7;
  font-size: 16px;
}

.tab_round_btn {
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #fe9102 !important;
  border-radius: 50% !important;
  font-size: 27px !important;
  padding: unset !important;
  color: #1f459e !important;
}

.tab_round_btn:hover{
  color: white !important;
  background: #fe9101 !important;
}
/*.tab_round_btn:hover:after{
 content: "";
 position: absolute;
 top: 41px;
 left: 50%;
 margin-left: -15px;
 width: 0px;
 height: 0px;
 xxmargin: 0px auto;
 border-left: 15px solid transparent;
 border-right: 15px solid transparent;
 border-bottom: 15px solid white;
}
.tab_round_btn:hover:before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height :0px;
  xxmargin: 0px auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
}*/

.tab_round_btn:focus{
  color: white !important;
  background: #fe9101 !important;
}

.btn_next{

  margin-top: 5% !important;
  color: white !important;
  width:125px;
  background: #fe9101 !important;
}
.reviewbtn{
  margin-right: 10px;
  width: 124px;
  color: white !important;
  background: #919191 !important;
}
.reviewbtn1{
  width: 124px;
}
.btn_next_edit{

}
.item-name{
  width:100px;
  margin-top:5px;
  font-size:12.8px;
  line-height: 14px;
  word-wrap: break-word;
  color:#24479D;
}
.gutter-example .ant-row > div {
  background: transparent;
  border: 0;
}
.gutter-box {
  background: #00A0E9;
  padding: 5px 0;
}
.bottomsize{
  margin-bottom: 20px;
}
.line {

  margin-top: 2%;
  height: 1px;
  width: 50%;
  background-color: #d1d1d1;
}
.sub{
  display:table-cell;
  border-right:solid white 2px;  
}
.clr_blue{
  color:#1f459e;
}

.clr_orange{
  color:#FF9008;  
}

.clr_lblack{
 color:#c3c3c3; 
}

.arrow_box {
  position: relative;
  background: #fe9101;
  border-top: 3px solid #fe9101;
}
.arrow_box:after, .arrow_box:before {
  bottom: 100%;
  left: 3.5%;
  border: solid transparent;
  content: " ";
  height: 10px;
  width: 10px;
  position: absolute;
  pointer-events: none;
}

.arrow_box:after {
  border-color: rgba(213, 194, 194, 0);
  border-bottom-color: #ffffff;
  border-width: 17px;
  margin-left: -17px;
}
.arrow_box:before {
  border-color: rgba(134, 245, 100, 0);
  border-bottom-color: #fe9101;
  border-width: 21px;
  margin-left: -21px;
}

.leftchange.arrow_box:after, .leftchange.arrow_box:before {
  bottom: 100%;
  left: 7.5%;
}
.venuedaily.arrow_box:after, .venuedaily.arrow_box:before {
  bottom: 100%;
  left: 11.5%;
}
.borderbottom{
  border:1px solid #f4f4f4;
  border-bottom: 1px solid #f4f4f4;
  margin-top:10px;
}
.ant-calendar-picker-clear, .ant-calendar-picker-icon{
  top:25% !important;
}
.photo-button{
  display: flex;
  align-items: center;
  justify-content: center;
}
.badge1 {
 position:relative;
}
.badge1[data-badge]:after {
  content: attr(data-badge);
  position: absolute;
  top: -7px;
  right: -2px;
  font-size: 13px;
  background: white;
  color: #867e7e;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 17px;
  border-radius: 50%;
  /* box-shadow: 0 0 0px #333; */
  border: 1px solid #867e7e;
}

.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #fe9102;
  border-color: #fe9102;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.amenities_tab>tr {
  border-bottom: 1px solid #c3c3c3;
  border-top: 1px solid #c3c3c3;
}
.phsc_infra{
  width:100%;
  margin-left: 1% !important;
  margin-top: -3% !important;
  margin-bottom: 1% !important;
}
a.footer_a_1{
  color:white;
}

a.footer_a_1:hover{
  text-decoration: none
}

.footer_div_1{
  flex:1 !important;
  width:100% !important;
  height:7vh !important;
  background:#fe9101 !important;
  color:white !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.footer_row_1{
  width:80% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.footer_divwid_1{
  padding: 0px 10px;
  font-size: 17px !important;
}

.footer_div_2{
  flex:1 !important;
  height:auto !important;
  background:#1f459e !important;
}

.footer_row_2{
  padding:10px;
  justify-content: center;
}

.social-icons {
  text-align: left;
  margin: 25px 0px 25px 0px;
}

.list-inline li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.social-icons ul li a {
  display: block;
  width: 25px;
  height: 25px;
  color: #9a9a9a;
  border-radius: 50%;
  text-align: center;
  line-height: 27px;
  transition: .4s;
  -webkit-transition: .4s;
}

.social-icons.bottom ul li a {
  width: 50px;
  height: 50px;
  color: #ffffff;
  line-height: 50px;
  font-size: 30px;
}

.social-icons.bottom ul li a {
  background-color: #fe9101;
}

.social-icons.bottom ul li a:hover {
  color: #fe9101;
  text-decoration: none;
}

.social-icons.bottom ul li a:hover {
  background-color: #fff;
}

.copyright {
  text-align: left;
  text-align: justify;
  color:white;
}
.footerr{
  /*margin-top: 50vh;*/
}
.default .text{
  font-size: 15px !important;
}
#circle {
  display: inline-grid;
  width: 100px;
  height: 100px;
  background: white;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  border: 1px solid #f6b669;
  align-content: center;
  justify-content: center;
}

#circle2 {
  width: 90px;
  height: 90px;
  background: #f2f2f2;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.modal-header-login{
  border-bottom: none !important;
}
.modal-content{
  height:auto !important;
  width:55vh !important;
}
/*.modal-header .close{
  font-size: 30px !important;
  }*/

  .modal-body-login{
    width: 80%;
    margin-left: 10%;
  }
  .mdlfooter{
    background-color: #eee;
    height: 20vh;
    border-top: 2px solid #e5e1e1;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .socialmedia{
    width:13%;
    margin-right: 5px;
  }

  .reviewdetails_tab>tr>td:nth-child(1){ 
    text-align: left; 
  }

  .reviewdetails_tab>tr>td:nth-child(2){ 
    text-align: left;
    font-weight: bold; 
  }

  .btn_edit{
    width: 5%;
    color: white !important;
    background: #919191 !important;
    margin-right: 5px !important;
  }
  .closeicon{
    position: absolute;
    top:4%;
    right:5%;
    font-size: 20px;
  }
  .btn_edit_1{
    width: 5%;
    color: white !important;
    background: #919191 !important;
    margin-right: 5px !important;
  }



  .checkbox-custom, .radio-custom {
    opacity: 0;
    position: absolute;   
  }

  .checkbox-custom, .checkbox-custom-label, .radio-custom, .radio-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    cursor: pointer;
  }

  .checkbox-custom-label, .radio-custom-label {
    position: relative;
  }

  .checkbox-custom + .checkbox-custom-label:before, .radio-custom + .radio-custom-label:before {
    content: '';
    background: #fff;
    border: 2px solid #ddd;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    text-align: center;
  }

  .checkbox-custom:checked + .checkbox-custom-label:before {
    background: #ef8701;
    box-shadow: inset 0px 0px 0px 4px #fff;
  }

  .mdlfooter2{
    background-color: #eee;
    height: 25vh;
    border-top: 2px solid #e5e1e1;
  }

  .profile_img{
    width: 100%;
    height: 100%;
    border-radius: 50%
  }
  .ant-input-password-icon {
    font-size: 15px !important;

  }
  .QuestionModel_tab>tr {
    border-bottom: 1px solid #d8d4d4;
  }


  .small_btn {
    width: auto !important;
    height: auto !important;
    border: 1px solid #fe9102 !important;
    border-radius: 50% !important;
    font-size: 20px !important;
    padding: unset !important;
    color: #fe9102 !important;
    min-width: 30px;

  }

  .small_btn:hover{
    color: white !important;
    background: #fe9101 !important;
  }
  .small_btn:hover:after{
   content: "";
   position: absolute;
   top: 41px;
   left: 50%;
   margin-left: -15px;
   width: 0px;
   height: 0px;
   xxmargin: 0px auto;
   border-left: 15px solid transparent;
   border-right: 15px solid transparent;
   border-bottom: 15px solid white;
 }
 .small_btn:hover:before {
  content: "";
  position: absolute;
  top: 40px;
  left: 50%;
  margin-left: -15px;
  width: 0px;
  height :0px;
  xxmargin: 0px auto;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 15px solid black;
}
/*.small_btn:focus{
  color: white !important;
  background: #fe9101 !important;
}
*/
.tag_check{
  margin-top: 2%
}

.tag_check input[type=checkbox] {
  opacity: 0;
}

.tag_check input[type=checkbox] + label {
  padding: 3px 6px;
  border: 1px solid #fe9102;
  color: #1f459e;
  font-weight:500; 
  cursor: pointer
} 

.tag_check input[type=checkbox]:checked + label {
  color: white;
  background: #fe9102;
}

/*.tag_check input[type=checkbox]:hover + label {
  color: white;
  background: #fe9102;
}*/

.tag_line.arrow_box:after, .tag_line.arrow_box:before {
  bottom: 100%;
  left: 7%;
}

.radio_btn input {
  visibility:hidden;
}
.radio_btn label {
  cursor: pointer;
  display: inline-block;
  line-height: 50px;
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #fe9102 !important;
  border-radius: 50% !important;
  font-size: 27px !important;
  padding: unset !important;
  color: #1f459e !important;
}

.radio_btn input:checked + label {
  color: white !important;
  background: #fe9102;
}

.radio_btn input:hover + label {
  color: white !important;
  background: #fe9102;
}


h3 {
    /*background: #5f9ea0;*/
    color: #fff;
    font-size: 36px;
    line-height: 100px;
    margin: 20px;
    padding: 2%;
    position: relative;
    text-align: center;
}
/*.ant-rate{
  color:yellow !important;
}
.ant-rate-star-first, .ant-rate-star-second{
  color :#000!important;
}
*/
.video-react .video-react-poster{
width:100% !important;
background-size: cover !important;
}

.h1style{
  margin: 0 auto;
    width: 80%;
    /*padding-top: 10px;*/
    /*padding-bottom: 10px;*/
    color:#1f459e;
    padding: 10px
}
.video-react-big-play-button{
      border-radius: 50% !important;
    width: 60px !important;
    height: 60px !important   ;
    text-align: center !important;
}
.video-react .video-react-big-play-button.video-react-big-play-button-center{
  left:61% !important;
  background: #ffffffa6 !important;
    border: none !important;
}

.video-react-big-play-button:before{
  color: #757574 !important;
    margin-top: 1px !important;
    border: none !important;
    background-color: transparent;
}
/*.video-react .video-react-control:before, .video-react .video-react-big-play-button:before{
  top: 2px !important;
    left: 2px !important;
    width: 100%;
    height: 100%;
    font-size: 37px !important;
}*/
.video-react-icon-play-arrow:before, .video-react .video-react-bezel .video-react-bezel-icon-play:before, .video-react .video-react-play-control:before, .video-react .video-react-big-play-button:before{
  top: 2px !important;
  /*font-size: 37px !important;*/
}

.slick-prev:before, .slick-next:before {
display: none;
}

.slick-prev {
    left: -6% !important;
}
.slick-next {
    right: -5% !important;
}
.cardpadd{
  padding: 8px;
  /*padding-bottom: 10px;*/
  /*padding-right: 10px;*/
}
/*.anticon.anticon-down{
  font-size: 25px !important;
}*/
.slick-dots {
   
    text-align: right !important;
    top: -11% !important;
    height:0 !important;
}
.slick-dots li.slick-active button:before{
  color:orange;
}
.slick-dots li button:before{
  font-size: 17px !important;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    width: 18px !important;
    height: 18px !important;
    margin: 0 0px !important;
    padding: 0;
    cursor: pointer;
}

.slick-first {
   
    text-align: right !important;
    margin-top: -6% !important;
    height:0 !important;
}
.slick-special {
   
    text-align: right !important;
    margin-top: 2% !important;
    height:0 !important;
}
.slick-special1{
  display: none !important;
}
.slick-special2{
  display: none !important;
}
.slick-first li.slick-active .slick-first button:before{
  color:orange;
}
.slick-first li button:before{
  font-size: 10px !important;
}
.slick-second {
   
    text-align: right !important;
    margin-top: -6% !important;
    height:0 !important;
}
.slick-second li.slick-active .slick-second button:before{
  color:orange;
}
.slick-second li button:before{
  font-size: 10px !important;
}

.iconright{
  font-size: 12px !important;
}
.specialimg{
  width: 275px;
  /*height:144px;*/
  border-radius: 10px;
}
.training_btn{
  float: right;
    position: absolute !important;
    top: 0;
    right: 0;
    border-radius: 0 !important;
    background: orange !important;
    color: #fff !important;
    height: 5vh !important;
}
.ant-btn:hover, .ant-btn:focus{
  border-color: none !important;
}
.rateup{
  position: absolute;
  left:7px;
  bottom: 7px;
  font-size: 11px !important;
  color: #FF9008 !important; 
  /*width:20%;*/
}
.plusiconup{
  background: white;
    position: absolute;
    top: 11px;
    right: 31px;
    width: 13%;
    text-align: center;
    border-radius: 30pc;
    height: 17%;
}
.ant-select-selection--single{
  border:none !important;
}
.ant-select-focused .ant-select-selection, .ant-select-selection:focus, .ant-select-selection:active{
  box-shadow: none !important;
}
.venuedrop{
  border-radius: 50px !important;
    padding: 6px 20px 6px 21px !important;
    background: #fff !important;
    color: #FF9008 !important;
    border: none !important;
}
.venuedrop:hover{
  background-color: #24479D !important;
  color:#fff !important;
  border: none !important;
}
.btn.focus, .btn:focus{
  box-shadow: none !important;
}
.menu_content{
  bottom: 0;
    width: 100%;
    background: blue;
    height: auto;
    top: 70px;
    position: absolute;
    z-index: 9999999;
}
.menu_content_list{
  background-color: #24479D;
  list-style-type:none !important;
  margin: 0;
    padding: 10px !important;
border-bottom-right-radius: 10px;
border-bottom-left-radius: 10px;
}
.menu_content_list a:hover{
  color: #fff !important;
}
.menu_content_align{
  text-align: left !important;
  /*padding: 5px !important;*/
  color:#CFCFCF;
  position: relative;
}
.menu_content_align:hover{
  color:#FF9008 !important;
}
.hrclass{
  border-top: 1px solid #fff !important;
  opacity: 0.5;
}
.menuicon{
  position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 12px;
    height: 12px;
}
.triangle{
  position: absolute;
    /* top: 0; */
    right: 0;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #24479D;
    bottom: 0;
    text-align: center;
    display: block;
    margin: auto;
    left: 0;
}
.borderOrange{
  border-bottom: 8px solid #FF9008;
  width:100%;
}
.courses{
  width: 64%;
    height: 9vh;
    border-radius: 50px !important;
    background: transparent !important;
    border-color: #eeeeee5c !important;
   /* display: flex;
    justify-content: center;
    align-items: center;*/
  }
  .numberclass{
    font-size: 24px;
    color:#FF9008;
}
.courseclass{
font-size: 14px;
    margin-top: -6px;
  
}
.coursemain{
  display: flex;
  align-items: center;
  justify-content: center;
}
.coursemainrow{
  width:100% !important;
}
.courseoverview{
  display: flex;
  justify-content: center;
  align-items: center;
}
.sliderclass{
  height:15vh;
  background-color: #fff;
}
.lightborder{
border-bottom: 1px solid #CFCFCF;
}
.studycentermain{
  width:80%;
  margin: 0 auto;
  height:80%;
}
.studycenter{
  height: 40vh;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.studcls{
  font-size: 48px;
  font-weight: 200;
  color:#FF9008;

}
.centercls{
  
  font-size: 48px;
  font-weight: 600;
  color:#FF9008;
}
.learndown{
  font-size: 24px !important;
  color:#ff9102;
}
.homemakers{
  justify-content: flex-start;
  font-size: 25px;
  color:#1f459e;
  font-weight: 200;


}
.addtrain{
  color:#FF9008;
  font-weight: 200;
}
.addtrainspan{
  color:#8a8a8a;
  font-size: 10px !important;
}
.traingspan{
  font-weight: 100;
  opacity: .7
}
.externbody{
  padding: 10px !important;
}
.ant-card-body{
  padding: 10px !important;  
}
.join_group{
  width:100%;
  height:100%;
}
.crdbdy .ant-card-body{
  height:100% !important;
}
.video-react .video-react-big-play-button {
    font-size: 5em !important;
    line-height: 1.2em !important;
    }
    .joingroupsty{
      font-size: 35px;
    position: absolute;
    top: 37px;
    color: white;
    right: 65px;
    }
    .grupstudyspan{
      font-weight: 100;
    }
    .joinspan{
      font-size: 23px;
      margin-left: 15px;
    }
    .ratecolor{
      color:#FF9008 !important;
    }
    .footermain{
      width: 80% !important;
      margin-left: 10% !important;
    }
    .footercls{
      background-color: #FF9008;
      height: 7vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .quick_lks{
     font-weight: 600;
    color: #fff;
    font-size: 18px;
    }
    .footermenu{
      color:#fff;
      font-weight: 400;
      font-size:16px;
    }
    .socialimgpadd{
      padding: 7px;
      width:65px;
    }
    .socialftr{
margin-bottom: 10px;
    }
    .changeclr{
      color:#FF9008;
      margin-left: 10px;
      font-size: 16px
    }
   .alex{
    justify-content: flex-start;
    font-size: 22px;
    color: #1f459e;
    font-weight: 200
   }
   .carousel-control.right:hover, .carousel-control-next:hover{
    background: transparent !important;
   }
   .slider_play{
    position: absolute;
    top: 5%;
    right: 4%;
    z-index: 999;
   }
   .slider_play_span{
    color: #fff;
    font-size: 16px;
    font-weight: 300;

   }
   .guidevideo{
        color: #FF9008;
    margin-top: 0px;
    margin-left: 39px;
    margin-top: -10px;

   }
   .venue_v
   {
       position: absolute;
    top: 14%;
    right: 1px;
    width: 43%;
    height: 100%;
    z-index: 9;
   }
   .listmy{
    font-size: 22px;
    color:#24479D;
    font-weight: 400;
   }
   .slider_filter{
    width:80%;
    margin-left: 10%;
        background: #fff;
    position: absolute;
    top: 0;
    border-radius: 50px;
    height: 100%;
   }
   .slide_filter_main{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
   }
   .sction1pcls{
    text-align: right;
   }
   .blue_holder{
    
    position: relative;
    right: 34px;
   }
   .add_plus{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 25px;
    height: 25px;
}

.venue_vpclass{
  left: 45%;
    position: absolute;
    bottom: 0;
    font-size: 64px;
    width: 44%;
    color: #24479D;
    top: 60%;
    font-weight: 200;
    line-height: 62px;
}
.enuespan{
      margin-left: 16px;
    color: #FF9008;
    font-weight: 600;
    font-size: 80px;
}
.slidefiltermain{
  height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    bottom: 0;
    right: 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100% !important;
}
.carousel-control, .carousel-control-prev, .carousel-control-next{
  z-index: 9999999 !important;
}

.amenitiesarrow:after, .amenitiesarrow:before{
  left: 12% !important;
}
.costdrop{
  border: 1px solid #eee;
    width: 28% !important;
}
.costdropinput{
      width: 30%;
    border: 0 !important;
    padding: 0 !important;
    border-right: 1px solid #eee !important;
}
.costdropselect{
  width:70%;
}
.amentiesrowborder .ant-select-selection{
  border-radius: 0px!important;
  background:#eee!important;
}
.amenetiescol40{
width: 40%!important;
    border: 0!important;
    padding: 0;
    padding: 5px;
    text-align: center!important;

}
.amenetiescol40:focus,.amenetiescol40:hover{
  box-shadow: none!important;
  border:0!important;
}
.amenetiesday30{
  border: 1px solid #eee!important;
}
.amenetiescol60{
width: 60%!important;
    border-left: 1px solid #eee;
    margin: 0;
    height: auto;
    /* background-color: blue; */
    border: 2px solid #eee;
    border-radius: 0px;
  }
  .amentiesrowborder{
    width: 100%; 
    border: 1px solid #eee;
    width: 30%;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* flex-wrap: nowrap; */
  }
  .ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
.ant-upload.ant-upload-select-picture-card{
  width: 233px !important;
    height: 182px !important;
}
.ant-upload-list-picture-card .ant-upload-list-item{
  width: 233px !important;
    height: 182px !important;
}
.ant-upload-list-picture .ant-upload-list-item-error, .ant-upload-list-picture-card .ant-upload-list-item-error{
  border-color: #eee !important;
}
.imageModal .ant-modal-close-x{
  z-index: 999999;
}


.check_btn_check {
  color: #fff !important;
  background: #fe9102 !important;
}
/*.check_btn_check:hover{
  color:#fff !important;
}*/
.check_btn input {
  visibility:hidden;
}
.check_btn label {
  cursor: pointer;
  display: inline-block;
  line-height: 50px;
  width: 50px !important;
  height: 50px !important;
  border: 1px solid #fe9102 !important;
  border-radius: 50% !important;
  font-size: 27px !important;
  padding: unset !important;
  color: #1f459e;
}


.check_btn input:hover + label {
  color: #1f459e !important;
  background: transparent;
}

.svgstyleradio{
  position: relative;

}
.svg_icon_type{
  position: absolute;
  top: 13%;
  left: 17%;
  width: 70%;
  height: 70%;
}

.svg_icon_facility{
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
}

.svg_icon_amen{
  position: absolute;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
}

.svg_icon_four{
  position: absolute;
  top: 20%;
  left: 22%;
  width: 60%;
  height: 60%;
}

.pricecardselect{
  border: 1px solid #eee !important;
 }
 .venuedropicon:hover{
  color: #fff !important;
 }
 .sec2train{
    top: 4px;
    font-size: 14px;
 }
.sce2brdr{
  border-right: 1px solid #3c3a3a69;
}
.section2 a.ant-dropdown-link{
  font-size: 17px !important;
}
.section3 a.ant-dropdown-link{
  font-size: 17px !important;
}
.section4 a.ant-dropdown-link{
  font-size: 17px !important;
}